html,body,.container{
    background: #00cc99;
}
.login{
    padding-top: 6rem;
    text-align: center; 
    .l-title{
        margin-bottom: 3rem;
        font-size: 1.25rem;
        font-weight: bolder;
        color: #448AFF;
    }
    .l-picture{
        display: inline-block;
        height: 3.5rem;
        width: 3.5rem;
        background: url(~/assets/img/avatar.png)center no-repeat;
        background-size: cover;
        border-radius: 3.5rem;
    }
    .l-tips{
        margin-top: .5rem;
        padding-bottom: .5rem;
        font-size: 1rem;
        color: #757575;
        text-align: center;
    }
}