.i-header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 2.5rem;
    background: #00cc99;
}
.i-content{
    padding-top: 2.5rem;
    background: #f6f6f6;
    .c-item{
     margin-bottom: .25rem;
     padding: .75rem;
    background: #fff;     
     .i-title{
         font-size: 1rem;
         font-weight: bold;
     }
     .i-author{
         margin-top: .25rem;
         font-size: .75rem;
         color: #666;
     }
     .i-img{
         margin-top: .25rem;
         width: 100%;
     }
     .i-des{
         font-size: .75rem;
     }
    }

}